SQLALCHEMY_DATABASE_URI = 'mysql+mysqlconnector://admin:260197@localhost/finance_tracker'
SECRET_KEY='8c287e86e4a0b8bea9e5dc2118a05afd'

MAIL_SERVER='smtp.yandex.ru'
MAIL_PORT=465
MAIL_USERNAME='TestQuickNote@yandex.com'
MAIL_PASSWORD='xuhfhvhgavhttxdp'